<div style="text-align:right" *ngIf="id === '0'">
  <div class="container">
    <img src="../../../assets/fnon.jpg" class="img-fluid">
    <h1 style="margin-top: 10px">المعرض الافتراضي "الفن بين ايديك</h1>
    <p style="color: #898686">والذي يستعرض أعمال الفنان المهندس تامر حسن صالح</p>

    <p>
      تحت رعاية الفنانة الأستاذة الدكتورة إيناس عبد الدايم وزيرة الثقافة ، يتشرف أ.د/ هشام عزمي الأمين العام للمجلس
      الأعلى
      للثقافة؛ و السيدة/ رنده أبو الحسن الممثل المقيم لبرنامج الأمم المتحدة الإنمائي في مصر ؛ بدعوة المهتمين لزيارة
      المعرض
      الافتراضي الأول ضمن مبادرة "الفن بين ايديك" والذي يستعرض أعمال الفنان المهندس تامر حسن صالح وهو مهندس معماري مصري
      من
      اهل النوبة تخرج في كلية الهندسة جامعة القاهرة عام 1998 والذى يصل مجمل أعماله إلى حوالى 3700 صورة حتى الآن شارك
      ببعضها في العديد من الصحف والمجلات كما يعكف حاليا على إعداد كتاب لإظهار جمال العمارة في النوبة بعنوان: "العمارة
      النوبية بين الاصالة والمعاصرة".
      ويتكون المعرض من عدد كبير من الصور الفوتوغرافية التي تظهر جمال وسحر مصر وجمال الملامح المصرية الأصيلة في العديد من
      اللقطات من الحياة اليومية وأيضا العديد من الأماكن الجميلة والمفعمة بالطاقة الإيجابية في كافة ربوع مصر من الشمال
      للجنوب.

      وجاءت فكرة المعرض انطلاقًا من مقترح قدمته لجنة الثقافة الرقمية والبنية المعلوماتية بالمجلس برئاسة المهندس/ زياد
      عبد
      التواب؛ وذلك في إطار المبادرة التي أطلقتها وزيرة الثقافة المصرية في مارس 2020؛ تحت عنوان: "الثقافة بين ايديك" في
      ضوء
      تقديم الخدمة الثقافية في ظل جائحة كورونا العالمية؛ وقد تبنى المجلس المقترح والمتضمن إقامة المعرض بالتعاون مع
      برنامج
      الأمم المتحدة الإنمائي وتشرف على تنظيم المعرض د/ عبير شقوير - عضوة لجنة الثقافة الرقمية بالمجلس ومساعد الممثل
      المقيم
      ومسئول فريق التنمية الشاملة والابتكار ببرنامج الأمم المتحدة الإنمائي في مصر
    </p>

    <a target="_blank"
      href="https://artspaces.kunstmatrix.com/en/exhibition/3035751/%D8%A7%D9%84%D9%81%D9%86%D9%88%D9%86-%D9%85%D8%B5%D8%B1-%D8%A7%D9%84%D8%AC%D9%85%D9%8A%D9%84%D8%A9">
      <button style="margin-bottom: 10px" class="btn btn-primary">
        زيارة المعرض</button></a>
  </div>
</div>

<div *ngIf="id === '1'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8016.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '2'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8017.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '3'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8018.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '4'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8019.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '5'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8020.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '6'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8021.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '7'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8022.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '8'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8023.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '9'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8024.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '10'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8025.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '11'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8026.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '12'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8028.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '13'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8029.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '14'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8030.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '15'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8033.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<div *ngIf="id === '16'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8034.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '17'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8035.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '18'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8036.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '19'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8037.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '20'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8038.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '21'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8039.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '22'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8040.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '23'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8041.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '24'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8042.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '25'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8043.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '26'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8044.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '27'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8045.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '28'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8046.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '29'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8047.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '30'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8048.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '31'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8049.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '32'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8050.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '33'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8051.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '34'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8052.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '35'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8053.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '36'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8054.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '37'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8055.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '38'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8056.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '39'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8057.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '40'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8058.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '41'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8059.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="id === '42'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8060.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<div *ngIf="id === '43'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="hhttps://m8061.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '44'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8062.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '45'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8063.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '46'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8064.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '47'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8065.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '48'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8066.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '49'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8067.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '50'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8068.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '51'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8069.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '52'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8070.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '53'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8071.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '54'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8072.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '55'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8073.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '56'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8074.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '57'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8075.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div *ngIf="id === '58'">
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://m8076.cg.eg/" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!-- <div>
  <iframe width="100%" class="e2e-iframe-trusted-src" height="700" src="https://artspaces.kunstmatrix.com/en/exhibition/3035751/الفنون-مصر-الجميلة?t=1607427791" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->


<button id="myModala" data-toggle="modal" data-target="#myModalOnLoad" style="display: none">click</button>